.catalog {
  width: 100%;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: -60px;
  }

  @media @desktop {
    margin-left: -80px;
  }
}

.catalog__item {
  @media @tablet {
    width: 324px;
    margin-bottom: 138px;
    margin-left: 60px;
  }

  @media @desktop {
    width: 245px;
    margin-bottom: 142px;
    margin-left: 80px;
  }
}
