.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 14px;

  @media @tablet {
    justify-content: flex-start;
    width: 250px;
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media @desktop {
    align-items: center;
    width: 285px;
    margin: 0;
  }
}

.character__key {
  width: 150px;

  @media @tablet {
    width: 157px;
  }
}

.character__value {
  width: 60px;

  @media @tablet {
    width: 50px;
    margin-left: auto;
  }
}
