.content__offers {
  @media @tablet {
    margin-bottom: 46px;
  }

  @media @desktop {
    margin-bottom: 37px;
  }
}

.content__advantages {
  margin-bottom: 48px;

  @media @tablet {
    margin-bottom: 0;
  }
}

.content__goods {
  margin-bottom: 20px;

  @media @tablet {
    margin-bottom: 64px;
  }

  @media @desktop {
    margin-bottom: 72px;
  }
}

.content__extra {
  margin-bottom: 35px;

  @media @tablet {
    margin-bottom: 76px;
  }

  @media @desktop {
    margin-bottom: 87px;
  }
}
