.digits {
  font-size: 14px;
  line-height: 20px;
  font-family: @font-design;
  text-transform: uppercase;
}

.digits__heading {
  font-size: 12px;
  line-height: 12px;
  font-family: @font-base;
  color: #444444;
  text-transform: lowercase;
}

.digits__value {
  font-size: 24px;
  line-height: 24px;
}
