.extra-product {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.extra-product__list {
  width: 100%;

  @media @desktop {
    width: 895px;
  }
}

.extra-product__item {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 13px 0 17px;
  border-bottom: 1px solid @color-border;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 39px 26px 39px;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  @media @desktop {
    padding: 16px 0;
    border: none;
    border-bottom: 1px solid @color-border;
  }
}

.extra-product__heading {
  position: relative;
  margin: 0;
  padding: 5px 0 35px 0;
  font-weight: 400;
  line-height: 24px;
  font-family: @font-design;
  color: #111111;
  background-color: #ffffff;

  @media @tablet {
    margin-bottom: 80px;
    padding: 0 38px 0 36px;
    font-size: 36px;
    line-height: 36px;
  }

  @media @desktop {
    padding: 0 35px 0 0;
  }
}

.extra-product__title {
  box-sizing: border-box;
  margin: 0 0 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: @font-design;
  color: #222222;
  text-transform: uppercase;

  @media @tablet {
    width: 200px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media @desktop {
    width: 245px;
    margin: 0 80px 0 0;
    padding-top: 10px;
  }
}

.extra-product__character {
  margin: 0 0 14px;

  @media @desktop {
    margin: 0;
  }
}

.extra-product__button {
  width: 100%;

  @media @desktop {
    width: 245px;
    margin-left: auto;
  }
}

.extra-product__gift {
  margin-top: 39px;

  @media @tablet {
    box-sizing: border-box;
    width: 100%;
    margin-top: 71px;
  }

  @media @desktop {
    width: 245px;
    margin: 0 0 0 auto;
  }
}
