.footer {
  background-color: #f2f2f2;
}

.footer__top {
  background-color: #ffffff;
}

.footer__bottom {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
  }
}

.footer__logo {
  display: block;
  margin: 39px 0 31px;
  text-align: center;

  @media @tablet {
    margin: 0;
    margin-right: auto;
    padding: 0;
    border: none;
  }
}

.footer__dev-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 21px;

  @media @tablet {
    margin-left: auto;
    padding: 0;
  }
}

.footer__dev {
  display: block;
  font-size: 16px;
  line-height: 16px;

  &--name {
    @media @tablet {
      margin-right: 23px;
    }
  }

  &:active {
    opacity: rgba(68, 68, 68, 0.3);
  }
}

.footer__icon-dev {
  fill: #666666;

  &:focus,
  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
