.form {
  font-weight: 400;
  font-family: @font-design;
}

.form__description {
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}

.form__group {
  border: none;
}

.form__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__description-required {
  font-family: @font-base;
  text-transform: none;
}

.form__title {
  line-height: 24px;
  color: #111111;
  text-transform: none;
}

.form__label {
  color: #222222;
  text-transform: uppercase;
}

.form__field {
  font: inherit;
  color: #444444;
  text-transform: inherit;
}

.form__field::placeholder {
  color: inherit;
  opacity: 1;
}
