.form {
  box-sizing: border-box;
  font-weight: 400;
  font-family: @font-design;
}

.form__description {
  margin: 0 0 39px 0;
  padding-right: 40px;
  color: #111111;
  text-transform: uppercase;
}

.form__group {
  margin: 0;
  padding: 0 20px;
  border: none;

  &--checks {
    padding: 36px 25px 26px 20px;
    border-top: 1px solid @color-border;
    border-bottom: 1px solid @color-border;
  }
}

.form__item {
  display: flex;
  align-items: center;
  margin: 0 0 13px 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.form__item-checks {
  margin: 0 0 26px 0;
  font-size: 16px;
}

.form__description-required {
  line-height: 16px;
  font-family: @font-base;
  text-transform: none;
}

.form__title {
  margin-bottom: 30px;
  line-height: 24px;
  color: #111111;
  text-transform: none;
}

.form__label {
  flex-shrink: 0;
  max-width: 40%;
  margin-right: 15px;
  color: #222222;
  text-transform: uppercase;

  &--radio {
    padding-left: 26px;
  }
}

.form__field {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0 13px 12px;
  font: inherit;
  color: @color-default;
  text-transform: inherit;
}

.form__field::placeholder {
  color: inherit;
  opacity: 1;
}
