.gift {
  display: block;
  padding: 188px 55px 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;

  @media @tablet {
    padding: 70px 0 70px 420px;
    text-align: left;
  }

  @media @desktop {
    padding: 190px 43px 43px 43px;
  }
}
