.gift {
  position: relative;
  display: block;
  padding: 186px 60px 42px 55px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: @color-design-base;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;

  @media @tablet {
    padding: 71px 100px 70px 423px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  @media @desktop {
    padding: 187px 43px 43px 40px;
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 64px;
    left: 40%;
    width: 56px;
    height: 61px;
    background-image: url("icon-gift.svg");

    @media @tablet {
      left: 13%;
    }

    @media @desktop {
      left: 96px;
    }
  }
}
