.good__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @font-design;
  color: #111111;
  text-transform: uppercase;
}

.good__text {
  font-size: 12px;
  line-height: 16px;
}

.good__button--all-list {
  color: @color-default;
  background-color: #f2f2f2;
}
