.goods__header {
  @media @tablet {
    margin: 0 0 24px;
  }

  @media @desktop {
    margin-bottom: 22px;
  }
}

.goods__title {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @font-design;
  color: #111111;

  @media @tablet {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
  }
}
