.header {
  margin-bottom: 13px;
  color: #000000;

  @media @tablet {
    margin-bottom: 35px;
  }

  @media @desktop {
    margin-bottom: 50px;
  }

  &--index {
    color: #ffffff;
    @gradient: linear-gradient(to right, #ffffff 50%, #64a83b 50%);

    @media @desktop {
      min-height: 696px;
      margin-bottom: 80px;
      background-image: url("../img/index-background-desktop@1x.jpg"), @gradient;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 50% 100%;

      @media @retina {
        background-image: url("../img/index-background-desktop@2x.jpg"), @gradient;
      }
    }

    @media @desktop-plus {
      background-size: 720px, 100%;
    }
  }
}

.header__logo {
  display: block;
  flex-shrink: 0;
  width: 191px;
  height: 39px;
  padding-top: 12px;
  padding-bottom: 14px;

  @media @tablet {
    width: 174px;
    height: 59px;
    padding: 3px 0 0;
  }

  @media @desktop {
    width: 203px;
    height: 60px;
    margin-right: 495px;
  }

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__program {
  margin-bottom: 23px;

  @media @tablet {
    margin-bottom: 529px;
  }

  @media @desktop {
    margin-bottom: 0;
    padding-bottom: 187px;
  }
}
