.header {
  @media @desktop {
    min-height: 696px;
    margin-bottom: 75px;
    background-color: linear-gradient(to right, #ffffff 50%, #68b738);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
  }

  &--inner {
    min-height: 0;
    margin-bottom: 13px;
    background: none;

    @media @desktop {
      .nav__link {
        color: #111111;
      }
    }

    @media @tablet {
      margin-bottom: 43px;
    }

    @media @desktop {
      margin-bottom: 59px;
    }
  }
}

.header__logo {
  display: block;
  padding-top: 10px;
  padding-bottom: 13px;

  @media @tablet {
    padding: 0;
  }

  @media @desktop {
    margin-right: 517px;
  }
}

.header__program {
  margin-bottom: 25px;
}
