.header {
  @gradient: linear-gradient(to right, #ffffff 50%, #64a83b 50%);

  @media @desktop {
    position: relative;
    min-height: 696px;
    margin-bottom: 75px;
    background-image: url("../img/index-background-desktop@1x.jpg"), @gradient;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &--inner {
    min-height: 0;
    margin-bottom: 13px;
    background: none;

    @media @desktop {
      .nav__link {
        color: #111111;
      }
    }

    @media @tablet {
      margin-bottom: 43px;
    }

    @media @desktop {
      margin-bottom: 59px;
    }
  }
}

.header__logo {
  display: block;
  width: 191px;
  height: 39px;
  padding-top: 10px;
  padding-bottom: 13px;

  @media @tablet {
    width: 174px;
    height: 59px;
    margin-right: 67px;
    padding: 3px 0 0;
  }

  @media @desktop {
    width: 203px;
    height: 60px;
    margin-right: 517px;
  }
}

.header__program {
  margin-bottom: 24px;
}
