.map {
  height: 367px;
  margin: 0;

  @media @tablet {
    height: 400px;
  }

  @media @desktop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}

.map__picture {
  display: block;
  overflow-x: hidden;
  text-align: center;
}

.map__placemark {
  width: 55px;
  height: 53px;
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media @tablet {
    width: 113px;
    height: 106px;
  }
}
