.offers {
  width: 280px;
  margin: 20px auto;
}

.offers__item {
  background-color: #f2f2f2;
}

.offers__title {
  font-weight: 400;
  line-height: 37px;
  font-family: @font-design;
  color: #111111;
  text-transform: uppercase;
}

.offers__link {
  font-size: 16px;
  line-height: 16px;
  font-family: @font-design;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .offers {
    width: 708px;
    margin: 30px auto;
  }
}

@media (min-width: @desktop-width) {
  .offers {
    width: 1220px;
    margin: 0 auto;
  }

  .offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .offers__item {
    width: 570px;
  }
}
