.offers__item {
  background-color: #f2f2f2;
}

.offers__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: @font-design;
  text-transform: uppercase;
}

.offers__text {
  color: #444444;
}

.offers__link {
  font-size: 16px;
  line-height: 16px;
  font-family: @font-design;
  text-transform: uppercase;
}
