.page {
  overflow-x: hidden;
}

.page__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.page__subtitle {
  padding: 0;
  font-size: 24px;
  background-color: #ffffff;

  @media @tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

// &::before {
//   content: "";
//   position: absolute;
//   top: 13px;
//   right: 50%;
//   left: 50%;
//   z-index: -1;
//   height: 3px;
//   margin-right: -50vw;
//   background-color: @color-design-base;

//   @media @tablet {
//     margin-left: -50vw;
// }

.page__footer {
  .page__tablet-block {
    background-color: @color-background-base;
  }
}
