.program {
  @media @tablet {
    margin-bottom: 529px;
  }

  @media @desktop {
    margin-bottom: 0;
  }
}

.program__wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 -20px 135px -20px;
  padding: 28px 27px 168px 28px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  @media @tablet {
    margin: 0 0 45px 0;
    padding: 44px 130px 0 87px;
    text-align: left;
    color: #111111;
    background: none;
  }

  @media @desktop {
    position: static;
    padding: 93px 677px 5px 80px;
  }
}

.program__title {
  margin: 0 0 25px 0;
  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  font-family: @font-design;

  @media @tablet {
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
  }
}

.program__text {
  margin: 0;
  line-height: 14px;
  font-family: @font-design;
  text-transform: uppercase;

  @media @tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.program__img {
  position: absolute;
  bottom: -136px;
  left: 0;
  width: 100%;
  text-align: center;

  @media @tablet {
    bottom: -633px;
  }

  @media @desktop {
    bottom: 0;
    left: 117px;
  }
}

.program__link {
  display: block;
  box-sizing: border-box;
  width: auto;
  padding: 10px 73px 10px 70px;
  font-size: 14px;
  line-height: 18px;

  @media @tablet {
    position: relative;
    width: 245px;
    margin-left: 88px;
    padding: 17px 15px 17px 11px;
    font-size: 20px;
    line-height: 20px;
  }

  @media @desktop {
    margin-left: 80px;
  }
}
