.slider {
  position: relative;
}

.slider__preview {
  display: none;
  height: 232px;

  @media @tablet {
    position: absolute;
    top: -538px;
    left: 8px;
    width: 100%;
    height: 517px;
    text-align: center;
  }
}

.slider__img {
  width: auto;
  min-width: none;
  max-width: none;
}
