.slider {
  position: relative;
}

.slider__preview {
  display: none;
  height: 232px;

  @media @tablet {
    height: 517px;
  }
}

.slider__img {
  width: auto;
  min-width: none;
  max-width: none;
}
