.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 22px 0;
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;

  @media @tablet {
    padding: 0;
    border: none;
  }
}

.social__link {
  margin: 0 20px 20px;

  &:focus .social__icon,
  &:hover .social__icon {
    fill: #68b738;
  }

  &:active .social__icon {
    opacity: 0.3;
    fill: #68b738;
  }

  @media @tablet {
    margin: 0 15px 20px;
  }
}

.social__icon {
  path {
    fill: #666666;
  }

  @media @tablet {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
