.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__link {
  margin: 0 20px 20px;

  &:focus,
  &:hover {
    .social__icon {
      path {
        fill: #68b738;
      }
    }
  }

  &:active {
    .social__icon {
      path {
        fill: #68b738;
        fill-opacity: 0.3;
      }
    }
  }
}

.social__icon {
  path {
    fill: #666666;
  }

  @media @tablet {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
