.story {
  background-color: #f2f2f2;

  @media @tablet {
    background-color: transparent;
    border-top: 1px solid @color-border;
  }

  @media @desktop {
    border: none;
  }
}

.story__title {
  margin: 0 0 23px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @font-design;
  color: #111111;

  @media @tablet {
    margin: 0 0 64px;
    padding-top: 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.story__text {
  margin: 0 0 22px;
  padding-right: 5px;

  @media @tablet {
    margin: 0 0 54px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}

.story__digits {
  margin-bottom: 37px;

  @media @tablet {
    margin-bottom: 83px;
  }
}

.story__input--before:checked ~ .slider .slider__preview--before {
  display: block;
}

.story__input--after:checked ~ .slider .slider__preview--after {
  display: block;
}

.story__slider {
  margin-bottom: 38px;
}
