.story {
  position: relative;
  background-color: #f2f2f2;

  @media @tablet {
    background-color: transparent;
    border-top: 1px solid @color-border;
  }

  @media @desktop {
    border: none;
  }
}

.story__header {
  margin: 0 0 23px;

  @media @tablet {
    margin-bottom: 64px;
  }

  @media @desktop {
    margin-bottom: 77px;
  }
}

.story__title {
  margin: 0;
  padding-top: 15px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @font-design;
  color: #111111;

  @media @tablet {
    margin: 0;
    padding-top: 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.story__block {
  @media @desktop {
    background-color: #f2f2f2;
  }
}

.story__text {
  margin: 0 0 23px;
  padding-right: 5px;

  @media @tablet {
    margin: 0 0 54px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  @media @desktop {
    width: 50%;
    padding-top: 70px;
  }
}

.story__digits {
  margin: 0 0 27px;

  @media @tablet {
    padding-bottom: 216px;
  }

  @media @desktop {
    width: 50%;
    margin: 0;
  }
}

.story__compare {
  @media @desktop {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
  }
}

.story__input--before:checked ~ .slider .slider__preview--before {
  display: block;
}

.story__input--after:checked ~ .slider .slider__preview--after {
  display: block;
}

.story__input--after:checked ~ .slider .slider__item--after {
  width: 100%;
}

.story__slider {
  margin-bottom: 38px;
}


.story__slider-checker {
  padding-bottom: 34px;
}
